
/*Backdrop always takes up the whole screen*/
.Backdrop{
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;            /*We use so that a blacken screen appears during certain moments*/
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5);
}